* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

html {
  background-color: #222;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* your CSS below! */
#tableElement {
  border-collapse: collapse;

}

tr>td {
  border: 1px solid black;
  background-color: lightgray;
  text-align: center;
  height: 75px;
  width: 75px;
}

.living {
  background-color: black;
}

.lightgray {
  background-color: lightgray;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}
